body{
    font-family: 'Rubik Spray Paint', cursive;
    font-size: 15px;
    background-color: lightskyblue;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    
}



p{
    color: black;
    font-size: 18px;
    background-color: yellow;
    

}